<div class="esm-questionnaire" id="esm-questionnaire{count}">

    <div class="esm-questionnaire-item">
      <div class="esm-questionnaire-item option">
        <label>Start date</label>
      </div>

      <div class="esm-questionnaire-item value">
        <input type="text" class="input-field esmq-startdate" id="esmq{count}-startdate">
      </div>
    </div>

    <div class="esm-questionnaire-item">
      <div class="esm-questionnaire-item option">
        <label>End date</label>
      </div>
      
      <div class="esm-questionnaire-item value">
        <input type="text" class="input-field esmq-enddate" id="esmq{count}-enddate">
      </div>
    </div>

    <div class="esm-questionnaire-item">
      <div class="esm-questionnaire-item option">
        Days
      </div>
      
      <div class="esm-questionnaire-item value weekdays">
        <div class="esmq-weekday">
          <input type="checkbox" name="esmq-days-sun" class="esmq-days-sun" id="esmq{count}-day-sun">
          <label for="esmq{count}-day-sun"></label>
        </div>

        <div class="esmq-weekday">
          <input type="checkbox" name="esmq-days-mon" class="esmq-days-mon" id="esmq{count}-day-mon">
          <label for="esmq{count}-day-mon"></label>
        </div>

        <div class="esmq-weekday">
          <input type="checkbox" name="esmq-days-tue" class="esmq-days-tue" id="esmq{count}-day-tue">
          <label for="esmq{count}-day-tue"></label>
        </div>

        <div class="esmq-weekday">
          <input type="checkbox" name="esmq-days-wed" class="esmq-days-wed" id="esmq{count}-day-wed">
          <label for="esmq{count}-day-wed"></label>
        </div>

        <div class="esmq-weekday">
          <input type="checkbox" name="esmq-days-thu" class="esmq-days-thu" id="esmq{count}-day-thu">
          <label for="esmq{count}-day-thu"></label>
        </div>

        <div class="esmq-weekday">
          <input type="checkbox" name="esmq-days-fri" class="esmq-days-fri" id="esmq{count}-day-fri">
          <label for="esmq{count}-day-fri"></label>
        </div>

        <div class="esmq-weekday">
          <input type="checkbox" name="esmq-days-sat" class="esmq-days-sat" id="esmq{count}-day-sat">
          <label for="esmq{count}-day-sat"></label>
        </div>

      </div>
      
    </div>

    <div class="esm-questionnaire-item">
      <div class="esm-questionnaire-item option">
        <label>Start time</label>
      </div>
      
      <div class="esm-questionnaire-item value">
        <input type="text" id="esmq{count}-starttime" class="input-field esmq-starttime">
      </div>
    </div>

    <div class="esm-questionnaire-item">
      <div class="esm-questionnaire-item option">
        <label>End time</label>
      </div>
      
      <div class="esm-questionnaire-item value">
        <input type="text" id="esmq{count}-endtime" class="input-field esmq-endtime">
      </div>
    </div>

    <div class="esm-questionnaire-item" style="padding-bottom: 5px;">
      <div class="esm-questionnaire-item option">
        <label for="esmq{count}-amount">Amount</label>
      </div>

      <div class="esm-questionnaire-item value">
        <input type="text" id="esmq{count}-amount" class="input-field esmq-amount">
        <!-- <div id="esmq{count}-amount" class="esmq-amount"></div> -->
      </div>
    </div>

    <div class="esm-questionnaire-item">
      <div class="esm-questionnaire-item option">
        <label for="esmq{count}-interval">Interval</label>
      </div>
      
      <div class="esm-questionnaire-item value radio">
          <input type="radio" name="esmq{count}-interval" id="esmq{count}-interval-spaced" class="esmq-interval" value="spaced" checked>
          <label for="esmq{count}-interval-spaced">Spaced</label>
          <input type="radio" name="esmq{count}-interval" id="esmq{count}-interval-random" class="esmq-interval" value="random">
          <label for="esmq{count}-interval-random">Random</label>
      </div>
    </div>


    <div class="esmq-questions">
      
      <div class="esmq-add-question">
        <a href="#">Add a new question</a>
      </div>

    </div>

</div>